<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://js.paystack.co/v1/inline.js"></script> 
</head>
<body>
    <form action="" id="paymentForm">
    <div class="form-group" >
        {% csrf_token %}
        <label for="email">Email Address</label>
        <input type="email" id="email-address"  name='email' required />
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="tel" id="amount" name="'amount" required />
      </div>
      <div class="form-submit">
        <button type="submit" onclick="payWithPaystack()"> Pay </button>
      </div>
    </form>
    

    <script>
        const paymentForm = document.getElementById('paymentForm');
        paymentForm.addEventListener("submit", payWithPaystack, false);
        function payWithPaystack(e) {
        e.preventDefault();

        let handler = PaystackPop.setup({
            key: 'pk_test_a063883b704ef22e87130f02b158dc735c360f1b', // Replace with your public key
            // email: 'olakaycoder1@gmail.com',
            email: document.getElementById("email-address").value,
            // amount: 20000 * 100,
            amount: document.getElementById("amount").value * 100,
            ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            // label: "Optional string that replaces customer email"
            onClose: function(){
                alert('Window closed.');
            },
            callback: function(response){
                let message = 'Payment complete! Reference: ' + response.reference;
                fetch(`http://127.0.0.1:8000/payment/verify/${response.reference}`)
                .then( res = res.json())
                .then(data = console.log(data))
                // alert(message);
            }
        });

        handler.openIframe();
        }
    </script>
    
</body>
</html>