<html>
    <body>
        <h2>Welcome to Buskeit</h2>
        <p><strong>We are excited to see you.</strong> <br>
            Buskeit is an application for school bus fleet management. Buskeit intends to take out the manual process signing of this book and digitize it. <br>
            With buskeit, parents can acknowledge when their children have been picked up/ dropped off also. Schools can also leverage this app for proper student administration/planning and better bus fleet tracking/management..<br>
        </p>
        <p>
            Click the link below to verify your email <br>
            <a href="{{reset_link}}" style="padding:6px 10px ; border:1px solid rgb(27, 233, 27); border-radius: 10px ; background-color:rgb(27, 233, 27) ;">Verify email</a>
        </p>
</body>
</html>